<div class="container">
    <div class="text">
        <span class="title">LISTE OXYGENE TOULON - Les premiers soutiens</span>
        <span>
                Patrice Miran, 1er adjoint maire de Vence -
                Caroline Roose, députée Européenne - Salima Yenbou, députée Euroépenne
        </span>
    </div>
    <div class="imgs">
    <img class= "aee" alt="Alliance ecologie" src="../../assets/images/allianceeco.PNG"/>
    <img class="mcpa" alt="Mouvement citoyen" src="../../assets/images/mcpa.png"/>
    <!--img class="ue" src="../../assets/images/urgence-ecologie-logo.png"/>
    <img class="e" src="../../assets/images/e.png"/>
    <img class="cap" src="../../assets/images/cap21.png"/-->
</div>
</div>
