<div class="container">
    <p>Pour plus d'informations ou si vous souhaitez nous rejoindre et participer à nos groupes de travail sur les thèmes du programme:
        Santé et Environnement, Mobilité, Sécurité, Cause Animale et Gouvernance, contactez Olivier Lesage ou Emmanuel Le Lostec
    via leur mail ou via les réseaux sociaux.</p>
    <span class="mail">olivier.lesage@listeoxygenetoulon.fr</span>
    <span class="mail">emmanuel.lelostec@listeoxygenetoulon.fr</span>

    <h1 class="slogan">Entrons dans un nouvel air</h1>
</div>
