@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Quicksand;
    src: url('./assets/fonts/Quicksand/Quicksand-Regular.ttf') format("opentype");
    font-display: swap;
}

@font-face {
    font-family: Futura;
    src: url('./assets/fonts/Futura/FuturaBQ-Medium.otf') format("opentype");
    font-display: swap;
}

body {
    margin: 0;
  }