
@media screen and (max-width: 768px) {
    .container {
    font-family: Quicksand;
    font-size: small;
    }
}

@media screen and (min-width: 769px) {
    .container {
        font-family: Quicksand;
        font-size: large;
        }
}