<app-header></app-header>
<div class='section white env'>
    <div class='left'>
        <h3 class='title'>Plan majeur de lutte contre les pollutions</h3>
        <div class='ideas'>
            <ul>
                <li>Militer pour Toulon en Zone ECA (émission control area)</li>
                <li>Mise en place d’une vraie gestion incluant le remorquage des paquebots et ferry qui pénètrent dans
                    la
                    rade.</li>
                <li>Faire une vraie électrification des quais et surtout mettre une obligation d’utiliser le branchement
                    électrique pour les navires (y compris pour les escales inférieures à 2h)</li>
                <li>Déploiement d’un réseau d’analyse de la qualité de l’air sur l’ensemble du territoire.</li>
                <li>Augmentation des moyens de lutte contre les pollutions sonores</li>
                <li>arrêtés municipaux limitant les pollutions visuelles (réseaux électriques obsolètes, publicités
                    envahissantes…)</li>
                <li>Interdiction de fumer sur l’ensemble des plages de la commune (mise en place de cendrier à
                    proximité)
                </li>
            </ul>
        </div>
        <h3 class='title'>Soutien à l’emploi</h3>
        <div class='ideas'>
            <ul>
                <li>Soutenir le domaine des énergies renouvelables solaire, hydrolienne et géothermique. Faire de Toulon
                    une
                    ville pionnière dans le domaine. Elle possède tous les atouts (soleil, Mer)</li>
                <li>Projet d’éoliennes de nouvelle génération intégrables en environnement urbain.</li>
                <li>Développer la filière du recyclage </li>
                <li>Soutenir les consommations locales</li>
            </ul>
        </div>
    </div>
    <div class='right'>
        <h3 class='title'>Aide à la rénovation énergétique des bâtiments</h3>
        <div class='ideas'>
            <ul>
                <li>Travaux immédiats vers une autosuffisance énergétique sur les bâtiments publics</li>
                <li>>Référent mairie permettant l’accompagnement des foyers et la présentation de leurs droits</li>
                <li>Aides aux investissments</li>
            </ul>
        </div>
        <h3 class='title'>Exemplarité de la commune de gestion de l’eau</h3>
        <div class='ideas'>
            <ul>
                <li>Revoir le contrat de concession de la gestion de l’eau potable (aujourd’hui, 25% de perte)</li>
                <li>Récupérer l’eau de pluie dans les bâtiments publics</li>
            </ul>
        </div>
        <h3 class='title'>Politique de recyclage à revoir et à encourager </h3>
        <div class='ideas'>
            <ul>
                <li>Soutenir les professionnels les filières du BTP, de l’hôtellerie et de la restauration avec pour
                    l’objectif le zéro déchets</li>
                <li>Généralisation de composteur par quartier ainsi que pour les établissements scolaires</li>
                <li>Création de brigades vertes permettant de lutter contre les incivilités liées aux déchets du
                    quotidien
                </li>

            </ul>
        </div>
    </div>
    <div class='left'>
        <h3 class='title'>Programme de Parc naturel du Faron incluant l’espace maritime au littoral maritime (cf. parc
            des
            calanques de Marseille)</h3>
        <h3 class='title'>Relancer une politique des sports digne d’une métropole</h3>
        <div class='ideas'>
            <ul>
                <li>Mise en place et ou amélioration des manifestations sportives permettant de faire rayonner Toulon
                    sur la
                    scène internationale dans plusieurs domaines (marathon, triathlon, régates, cyclisme…)</li>
                <li>Grand programme d’activités sportives douces pour les personnes âgées</li>
                <li>Baisse des tarifs portuaires pour les activités non polluantes (voiliers)</li>
            </ul>
        </div>
        <h3 class='title'>Manger mieux</h3>
        <div class='ideas'>
            <ul>
                <li>Soutien aux labels bio</li>
                <li>Création d’un choix 100% bio dans les cantines scolaires</li>

            </ul>
        </div>
        <h3 class='title'>Réintroduire de la nature et se sentir mieux à Toulon</h3>
        <div class='ideas'>
            <ul>
                <li>Création de parcours verts</li>
                <li>Plantation d’arbres en compensation des projets immobiliers</li>
                <li>Mettre plus de fontaines à eau en ville et de sanisettes gratuites</li>
                <li>Amélioration et mise en œuvre d’un plan d’aménagement de développement durable (PADD).</li>
                <li>Création de potagers collectifs</li>

            </ul>
        </div>
    </div>
</div>
<div class='section blue'>

</div>
<div class='section white'>

</div>
<div class='section blue'>

</div>
<div class='section white'>

</div>
<div class='section blue'>

</div>
<div class='section white'>

</div>
<div class='section blue'>

</div>
<app-footer></app-footer>