<app-header></app-header>
<div class='section white env'>
    <h2 class='sec'>SANTE ET ENVIRONNEMENT</h2>
    <span class='cit'>« S’engager sur une dynamique moins polluante pour préserver sa santé »</span>
    <div class='left'>
        <h3 class='title'>Plan majeur de lutte contre les pollutions</h3>
        <div class='ideas'>
            <ul>
                <li>Militer pour Toulon en Zone ECA (émission control area)</li>
                <li>Mise en place d’une vraie gestion incluant le remorquage des paquebots et ferry qui pénètrent dans
                    la
                    rade.</li>
                <li>Faire une vraie électrification des quais et surtout mettre une obligation d’utiliser le branchement
                    électrique pour les navires (y compris pour les escales inférieures à 2h)</li>
                <li>Déploiement d’un réseau d’analyse de la qualité de l’air sur l’ensemble du territoire.</li>
                <li>Augmentation des moyens de lutte contre les pollutions sonores</li>
                <li>arrêtés municipaux limitant les pollutions visuelles (réseaux électriques obsolètes, publicités
                    envahissantes…)</li>
                <li>Interdiction de fumer sur l’ensemble des plages de la commune (mise en place de cendrier à
                    proximité)
                </li>
            </ul>
        </div>
        <h3 class='title'>Soutien à l’emploi</h3>
        <div class='ideas'>
            <ul>
                <li>Soutenir le domaine des énergies renouvelables solaire, hydrolienne et géothermique. Faire de Toulon
                    une
                    ville pionnière dans le domaine. Elle possède tous les atouts (soleil, Mer)</li>
                <li>Projet d’éoliennes de nouvelle génération intégrables en environnement urbain.</li>
                <li>Développer la filière du recyclage </li>
                <li>Soutenir les consommations locales</li>
            </ul>
        </div>
    </div>
    <div class='right'>
        <h3 class='title'>Aide à la rénovation énergétique des bâtiments</h3>
        <div class='ideas'>
            <ul>
                <li>Travaux immédiats vers une autosuffisance énergétique sur les bâtiments publics</li>
                <li>>Référent mairie permettant l’accompagnement des foyers et la présentation de leurs droits</li>
                <li>Aides aux investissments</li>
            </ul>
        </div>
        <h3 class='title'>Exemplarité de la commune de gestion de l’eau</h3>
        <div class='ideas'>
            <ul>
                <li>Revoir le contrat de concession de la gestion de l’eau potable (aujourd’hui, 25% de perte)</li>
                <li>Récupérer l’eau de pluie dans les bâtiments publics</li>
            </ul>
        </div>
        <h3 class='title'>Politique de recyclage à revoir et à encourager </h3>
        <div class='ideas'>
            <ul>
                <li>Soutenir les professionnels les filières du BTP, de l’hôtellerie et de la restauration avec pour
                    l’objectif le zéro déchets</li>
                <li>Généralisation de composteur par quartier ainsi que pour les établissements scolaires</li>
                <li>Création de brigades vertes permettant de lutter contre les incivilités liées aux déchets du
                    quotidien
                </li>

            </ul>
        </div>
    </div>
    <div class='left'>
        <h3 class='title'>Programme de Parc naturel du Faron incluant l’espace maritime au littoral maritime (cf. parc
            des
            calanques de Marseille)</h3>
        <h3 class='title'>Relancer une politique des sports digne d’une métropole</h3>
        <div class='ideas'>
            <ul>
                <li>Mise en place et ou amélioration des manifestations sportives permettant de faire rayonner Toulon
                    sur la
                    scène internationale dans plusieurs domaines (marathon, triathlon, régates, cyclisme…)</li>
                <li>Grand programme d’activités sportives douces pour les personnes âgées</li>
                <li>Baisse des tarifs portuaires pour les activités non polluantes (voiliers)</li>
            </ul>
        </div>
        <h3 class='title'>Manger mieux</h3>
        <div class='ideas'>
            <ul>
                <li>Soutien aux labels bio</li>
                <li>Création d’un choix 100% bio dans les cantines scolaires</li>

            </ul>
        </div>
        <h3 class='title'>Réintroduire de la nature et se sentir mieux à Toulon</h3>
        <div class='ideas'>
            <ul>
                <li>Création de parcours verts</li>
                <li>Plantation d’arbres en compensation des projets immobiliers</li>
                <li>Mettre plus de fontaines à eau en ville et de sanisettes gratuites</li>
                <li>Amélioration et mise en œuvre d’un plan d’aménagement de développement durable (PADD).</li>
                <li>Création de potagers collectifs</li>

            </ul>
        </div>
    </div>
</div>
<div class='section blue secu'>
    <h2 class='cat'>SECURITE</h2>
    <span class='cit'>« Pas d’écologie et de mieux vivre à Toulon sans sécurité des biens et des personnes»</span>
    <div class='rigth'>
        <h3 class='title'>Tolérance zéro</h3>
        <div class='ideas'>
            <ul>
                <li>Fin de la politique laxiste de conciliation</li>
                <li>Chaque infraction devra être punie, mise en œuvre de petits travaux d’intérêts généraux</li>
            </ul>
        </div>
        <h3 class='title'>Doublement des effectifs de police municipale</h3>
        <div class='ideas'>
            <ul>
                <li>Toulon est en grand déficit et cela manque cruellement, moyenne supérieure à 1/1000 hab. Toulon environ
                    180 000 hab donc il faudrait 180 policiers de terrain contre moins de 100 actuellement.</li>
                <li>Création de la brigade verte</li>
                    
            </ul>
        </div>
        <h3 class='title'>Vidéo surveillance accrue et gestion temps réel</h3>
        <div class='ideas'>
            <ul>
                <li>Embauche de personnels pour scruter les écrans</li>
                <li>Aides technologiques pour signaler les problèmes 
                    (enregistrement des bruits et alerte lors d’un coup de feu, reconnaissance faciale…)</li>
            </ul>
        </div>
        <h3 class='title'>Mieux équiper notre police municipale et redéfinir ses missions</h3>
        <div class='ideas'>
            <ul>
                <li>Achat d’un nouvel armement plus adapté à chaque mission</li>
                <li>Renouvellement des matériels de communication et d’information</li>
                <li>Augmentation du nombre d’unités et de tournées nocturnes</li>
                <li>Caméras embarquées obligatoires lors des missions de maintien de l’ordre lors des manifestations</li>
                <li>Verbalisation systématique des véhicules trop bruyants et ou polluants</li>
                <li>Renforcement des actions de prévention</li>                   
            </ul>
        </div>
    </div>
</div>
<div class='section white mobi'>
    <h2 class='cat'>MOBILITE</h2>
    <span class='cit'>« Pouvoir se déplacer librement est une des libertés premières»</span>
    <div class='rigth'>
        <h3 class='title'>Un tramway à Toulon (la ville a déjà perdu 20 ans !)</h3>
        <div class='ideas'>
            <ul>
                <li>Une épine dorsale Est Ouest sous forme de tramway est indispensable</li>
                <li>Une patte d’oie à l’Est et à l Ouest pour desservir  le nord et le Sud seront étudiées 
                    avec un raccord devant la gare de Toulon et des interconnexions avec les
                     arrêts du futur RER métropolitain (Sainte Musse, gare centrale, Escaillon, la Seyne)</li>
            </ul>
        </div>
        <h3 class='title'>S’engager sur les mobilités douces</h3>
        <div class='ideas'>
            <ul>
                <li>Création de 40 Kms de pistes cyclables par an soit 240 Kms sur la mandature</li>
                <li>Application de la loi L.A.U.R.E. (votée par le maire actuel et non respectée à Toulon)</li>
                <li>Sécurisation du réseau piéton urgente, trop de points noirs où le risque de blessés voire des morts 
                    semble évident</li>
                <li>Penser la mobilité en ville pour nos aînés et les PMR.</li>
                    
            </ul>
        </div>
        <h3 class='title'>Participation active au futur RER Toulonnais 
            (la ville a déjà perdu 20 ans ! projet de 2001 non pris en compte par la municipalité actuelle)</h3>
        <div class='ideas'>
            <ul>
                <li>Ouverture au Nord du territoire de la gare SNCF indispensable et non prévue à ce jour</li>
                <li>Soutien à la proposition dites « des associations » bien plus évoluée et performante que l’offre actuelle de la SNCF soutenue par les élus
                    </li>
            </ul>
        </div>
        <h3 class='title'>Concertation et remise à niveau du plan de circulation</h3>
        <div class='ideas'>
            <ul>
                <li>Augmentation des voies dédiées au transport au commun et mise en place de bus électriques</li> 
                <li>Gestion pro active à l’aide des nouvelles technologies des fréquences des transports en commun 
                (gain budgétaire et meilleure qualité de service aux usagers)</li> 
                <li>Mise en sécurité des sorties d’école par des outils adaptés aux horaires 
                scolaires (Bornes ou barrières escamotables, signaux lumineux, sonores…)</li> 
                <li>Soutien à l’installation de bornes électriques en ville</li>                   
            </ul>
        </div>
    </div>
</div>
<div class='section blue ani'>
    <h2 class="cat">CAUSE ANIMALE</h2>
    <span class='cit'>« STOP à la maltraitance et à la souffrance animale»</span>
    <div class='rigth'>
        <h3 class='title'>Amélioration des conditions de vie des animaux et respect de ces derniers</h3>
        <div class='ideas'>
            <ul>
                <li>Lutte contre le trafic des animaux</li>
                <li>Espaces partagés pour les animaux de compagnie</li>
                <li>Interdiction de pesticides non bio sur les espaces municipaux par les agents municipaux</li>
                <li>Contrôles sanitaires accrus en collaboration avec les services de l’Etat</li>
                <li>Réduction de la pollution lumineuse</li>
                <li>Aménagement de nichoirs</li>
                <li>Lutte écologique et prévention accrue contre les moustiques </li>
                <li>Hôtels à insectes comme par exemple l’aménagement de ruches en ville </li>
            </ul>
        </div>
        <h3 class='title'>Interdiction de la captivité pour les animaux sauvages en :</h3>
        <div class='ideas'>
            <ul>
                <li>Refusant les cirques ayant des animaux en cage</li>
                <li>Repensant le zoo du Faron</li>                    
            </ul>
        </div>
    </div>
</div>
<div class='section white gouv'>
    <h2 class="cat">GOUVERNANCE</h2>
    <span class='cit'>« Donner à tous les citoyens un droit de regard sur la gestion municipale. La mairie doit changer de paradigme sur les questions environnementales »
    </span>
    <div class='rigth'>
        <h3 class='title'>Vers un autre monde, une autre vision des projets</h3>
        <div class='ideas'>
            <ul>
                <li>L’adjoint à l’environnement doit avoir des compétences élargies et avoir un droit de regard sur 
                    tous les projets</li>
                <li>Une clause écologique pertinente doit être introduite dans les appels d’offres.</li>
                <li>Le calcul des empreintes écologiques doit être fait sur chaque projet et doit influer le choix final.</li>
                <li>Une traçabilité écologique des projets doit être mise en place et consultable en ligne par tous les citoyens</li>
                    
            </ul>
        </div>
        <h3 class='title'>Transparence dans la gestion de la ville</h3>
        <div class='ideas'>
            <ul>
                <li>Transmission par mail des PV des conseils municipaux (inscription en ligne)</li>
                <li>Attribution aux CIL d’une dotation réelle permettant la réalisation locale de petits projets concrets</li>
                <li>Mise en place de l’obligation d’une priorisation des projets émanant des CIL</li>
                <li>Mise en ligne d’un maximum de procédures et des critères choisis pour retenir les candidats</li>
                <li>Mise en place de décisions collégiales afin d’éviter les dérives</li>
            </ul>
        </div>
        <h3 class='title'>référendum local</h3>
        <div class='ideas'>
            <ul>
                <li>Le recours au référendum local sera mis en application à Toulon à l’initiative des citoyens ou 
                    de la municipalité (suite à chaque DUP). Art 72 de la constitution.</li>
                <li>Mise à disposition de salles de travail gratuitement pour les citoyens et associations
                     soutenant les projets sur l’amélioration de la qualité de vie, le social et l’environnement</li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>