<div class="container">
    <div class="container_like">
    <div class="spirit">
            <span class="text">
                Il est grand temps de passer la vitesse supérieure.
            </span>
            <span class="text">
        Il faut cesser les effets d’annonces et les promesses jamais tenues, il faut agir !
        </span>
        <span class="text">
        Tout notre programme, basé sur l’intérêt général, permet une mutation vers un Toulon plus respectueux de
        l’environnement et de l’humain. Sa mise en œuvre produira emploi, santé
        et habitat pour les Toulonnais.
        </span>
        <span class="text">
        Avec notre liste Oxygène Toulon, vous avez enfin la possibilité de porter Toulon vers une place de leader parmi
        les grandes métropoles, une ville qui sera enviée de tous pour
        sa qualité de vie.
        </span>
        <span class="text">
        Notre programme, notre credo :
        « UNE METROPOLE EN TRANSITION ECOLOGIQUE, QUI PROTEGE SES HABITANTS ».
        </span>
        <span class="text">
        Le renouveau à Toulon, maintenant, le 15 mars, votez pour la liste « OXYGENE TOULON ».
            </span>
        </div>
    </div>
</div>