<div class="container">
    <div class="section">
        <div class="section_title">
            <h1>ENVIRONNEMENT</h1>
            <h2>L’amélioration de notre cadre de vie est notre objectif majeur.</h2>
        </div>
        <div class="list">
            <ul>
                <li>Plan d’actions contre les pollutions afin d’améliorer la qualité de l’air à Toulon (circulation
                    routière, pollutions dues aux
                    grands navires, création d’une zone ECA de contrôle des émissions en mer).</li>
                <li>
                    Lutte contre toutes les nuisances (visuelles, sonores, dégradation...).
                </li>
                <li>Soutien à la rénovation des habitats permettant la diminution des polluants domestiques.</li>
                <li>Création de filières d’emplois dans les énergies renouvelables notamment maritimes.</li>
                <li>Affectation de zones urbaines à des espaces verts (jardins ouvriers, projets verts, squares, parcs).
                </li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="section_title">
            <h1>CIRCULATION & TRANSPORT </h1>
            <h2>L’amélioration de notre cadre de vie est notre objectif majeur.</h2>
        </div>
        <div class="list">
            <ul>
                <li>Création urgente d’un tramway avec une reprise complète du plan de déplacement sur Toulon.
                </li>
                <li>Développement et sécurisation du réseau cyclable et des déplacements piétons (passerelles au-dessus
                    des réseaux
                    routiers et ferrés…).
                </li>
                <li>Gestion optimisée des déplacements grâce aux innovations basées sur l’intelligence artificielle.
                </li>
                <li>Amélioration des aides à la mobilité des personnes âgées et à mobilité réduite.</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="section_title">
            <h1>SÉCURITÉ</h1>
            <h2>Pas d’écologie sans sécurité des biens et des personnes.</h2>
        </div>
        <div class="list">
            <ul>
                <li>Face à la délinquance et aux incivilités, application du principe de tolérance zéro.
                </li>
                <li>Doublement des effectifs de la police municipale et déploiement mieux ciblé.
                </li>
                <li>Amélioration des équipements de notre police et mise en place de moyens supplémentaires de haute
                    technologie.</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="section_title">
            <h1>GOUVERNANCE</h1>
            <h2>Changeons de modèle.</h2>
        </div>
        <div class="list">
            <ul>
                <li>Mise en œuvre de l’article 72-1 de la constitution portant referendum local (tramway, police
                    municipale…)
                </li>
                <li>Création d’un conseil des anciens avec un budget dédié.
                </li>
                <li>Réelles informations des Toulonnais sur les projets en cours et à venir.</li>
                <li>Renouveau politique et transparence.</li>
            </ul>
        </div>
    </div>
    <div class="container_like">
    <div class="spirit">
            <span class="text">
                Il est grand temps de passer la vitesse supérieure.
            </span>
            <span class="text">
        Il faut cesser les effets d’annonces et les promesses jamais tenues, il faut agir !
        </span>
        <span class="text">
        Tout notre programme, basé sur l’intérêt général, permet une mutation vers un Toulon plus respectueux de
        l’environnement et de l’humain. Sa mise en œuvre produira emploi, santé
        et habitat pour les Toulonnais.
        </span>
        <span class="text">
        Avec notre liste Oxygène Toulon, vous avez enfin la possibilité de porter Toulon vers une place de leader parmi
        les grandes métropoles, une ville qui sera enviée de tous pour
        sa qualité de vie.
        </span>
        <span class="text">
        Notre programme, notre credo :
        « UNE METROPOLE EN TRANSITION ECOLOGIQUE, QUI PROTEGE SES HABITANTS ».
        </span>
        <span class="text">
        Le renouveau à Toulon, maintenant, le 15 mars, votez pour la liste « OXYGENE TOULON ».
            </span>
        </div>
    </div>
</div>